@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s, color 0.3s;
}

html {
  scroll-behavior: smooth;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
